<html>
<head>
  <title>Angular App</title>
</head>
<body>
   <table style="margin-left: 30%;">
     <tr id="linkFrame">
      <td id="linksId"><a href="#">Men</a></td>
      <td id="linksId"><a href="#">Women</a></td>
      <td id="linksId"><a href="#">Kids</a></td>
      <td id="linksId"><a href="#">Electronics</a></td>
      <td id="linksId"><a href="#">Books</a></td>
      <td id="linksId"><a href="#">Games</a></td>
      <td id="linksId"><a href="#">Gadets</a></td>
    </tr>
   </table>
   <app-hello-world></app-hello-world>
   <app-date-app></app-date-app>
   <hr/>
   <b>Auto Refresher Date Component :- </b> <app-date-auto-refersh></app-date-auto-refersh>
   <hr/>
   <app-user-account foo="Client-user"></app-user-account>
   <hr style="border: brown 2px dotted;"/>
   <app-pipes></app-pipes>
  </body>
</html>