#mainId{
    color:greenyellow;
}

a
{
    margin-left: 5px;
    margin-right: 5px;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    color: lightseagreen;
    
}
